

.home {
  padding: 0px !important;
  background-image: url("../assets/bg.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh !important;
}

.img-fluid {
  /* position: sticky; */
  background: transparent;
  z-index: 1;
  height: 60px;
  padding: 5px;
}

.avatar {
  height: 94%;
}

.right-fold {
  background-color:rgba(0, 149, 235, 1);
  border-radius: 25px;
}
.header {
  color: white;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
  margin-top: 30%;
}
.head {
  color: white;
  font-size: 22px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
  line-height: 30px;
}
.para {
  color: white;
  font-size: 26px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}

@media only screen and (max-device-width: 1366px) {
  .upper-fold {
    background-attachment: scroll;
  }
}
